:root {
  --primary-white-color: #FFF;
  --primary-text-color: #212121;
  --secondary-text-color: #000;
  --title-text-color: #757575;
  --footer-text-color:#FFFFFF60;
  --accent-color: #2196F3;
  --secondary-fon-color: #F5F4FA;
  --section-fon-color: #2F303A;
  --button-hover-color: #2196F350;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Raleway", "Oleo Script", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.clients__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding-bottom: 0;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__item {
  max-width: 270px;
}

.features__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.features__text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-fon-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.footer {
  background-color: var(--section-fon-color);
  padding: 60px 0px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__adress {
  margin-right: 70px;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer__text {
  display: inline-block;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: var(--footer-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--painted {
  color: var(--primary-white-color);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.social-container {
  margin-right: auto;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.social__link--painted {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--painted {
  color: var(--primary-white-color);
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--section-fon-color);
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--accent-color);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover, .footer-form__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon {
  margin-left: 10px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  color: var(--secondary-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__text {
  display: inline-block;
  color: var(--accent-color);
}

.header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--section-fon-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imgfon1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgfon1.jpg);
  background-repeat: no-repeat;
}

.hero-box {
  padding: 200px 0;
}

.hero-title {
  margin: 0 auto 30px auto;
  max-width: 696px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--button-hover-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover {
  fill: var(--accent-color);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form__control {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  padding: 12px 11px 11px 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  outline: none;
  color: var(--title-text-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
}
.form__input:hover + .form__icon {
  fill: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--primary-text-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 16px 12px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  font-size: 12px;
  line-height: 1.166px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover, .form__textarea:focus {
  border-color: var(--accent-color);
}
.form__textarea input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__input:checked + .checkbox__border {
  border: none;
  background-color: var(--accent-color);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.checkbox__border {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
}

.checkbox__icon {
  width: 11px;
  height: 8px;
}

.checkbox__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.checkbox__button {
  padding: 10px 52px;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: #188CE8;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__button:hover, .checkbox__button:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--secondary-fon-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.team__title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px;
  gap: 30px;
}

.team__card {
  padding: 30px;
}

.team__label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.team__subtitle {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__image {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social__icon {
  fill: currentColor;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  margin-bottom: 50px;
}

.work__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__activity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__activity::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  Justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter__button {
  cursor: pointer;
  background-color: var(--secondary-fon-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--primary-white-color);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.products__box:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__thumb {
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.products__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.products__link {
  text-decoration: none;
}
.products__link:hover .products__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products__name {
  padding: 20px 24px;
  border: 1px solid #EEE;
  border-top: 0;
}

.products__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.products__subtitle {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}/*# sourceMappingURL=main.css.map */